.App {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding: 2rem 0;
}

.cv-link {
  border: 1px solid #d7aa26db;
  border-radius: 5px;
  padding: 4px;
  font-size: 1rem;
  transition: 250ms ease-in;
}

.cv-link:hover {
  background-color: #d7aa26db;
  color: white;
  transition: 300ms ease-in;
}

@media (min-width:640px) {
  .cv-link {
    font-size: 1.5rem;
  }
}

p {
  font-size: 0.8rem;
  line-height: 2;
}

h2 {
  color: #d7aa26db;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 0.75rem;
}

.skill-icons img {
  width: 40%;
}

@media (min-width: 640px) {
  .skill-icons img {
    width: 20%;
  }
}

.project {
  border: 1px solid #d7aa26db;
  margin-bottom: 8rem;
  padding-bottom: 3rem;
  position: relative;
}

.project::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(215, 171, 38, 0.15);
  border-radius: 5px 5px 0 0;
  transition: 250ms ease-in;
}

.project:hover::after {
  background-color: rgba(0, 0, 0, 0);
  transition: 250ms ease-in;
}



.project img {
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 2rem;
}


.project h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

@media (min-width:640px) {
  .project h3 {
    font-size: 1.5rem;
  }
}

.project p {
  margin: 0.5rem 0;
}

.project a {
  font-weight: 500;
  text-decoration: underline;
  z-index: 1;
  position: relative;
}