@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 50px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(215, 171, 38, 0.8);
    border-radius: 100vh;
    border: 2px solid rgba(0, 0, 0, 0.156);
    height: 7.5rem;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(215, 170, 38, 0.859);
  }
}

* {
  --nav-load-time: 500ms;
  --nav-link-load-time: 500ms;
  --article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time))
}

header {
  animation: nav-load var(--nav-load-time) ease-in;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

body h1 {
  animation: article-load 300ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

p {
  animation: article-load 300ms ease-in calc(var(--article-load-delay) + 200ms);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}